@import '../../partials/global';

a {
    text-decoration: none;
}

.header {
    background-color: rgba(0,0,0,0.05);
    margin: 0;
    
    &__nav {
        
        &-list {
            list-style-type: none;
            position: relative;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            padding: 0;

            &-logo {
                position: absolute;
                left: 2%;
                margin-top: -0.5%;
                width: 4%;
            }
            &-item {
                color: black;
                font-size: 2vw;
                transition: 0.5s ease-in-out;
                display: flex;

                &1, &2, &3, &4 {
                    @extend .header__nav-list-item;
                    padding-bottom: 0;
                }

                &:hover {
                    animation: linkHover 0.9s linear;
                    letter-spacing: 0.2vw;
                    padding-bottom: 0; 
                    margin: 0;
                }
                &--left {
                    transform: none;
                    padding: 0;

                    &1, &2, &3, &4 {
                        @extend .header__nav-list-item--left;
                        padding-bottom: 0; 
                        margin: 0;
                    }
                }
                &--hover {
                    padding: 0 1vw;
                    transition: 0.2s ease-in-out;

                    &1 {
                        @extend .header__nav-list-item--hover;
                        transform: rotate(-90deg);
                        margin-top: 2%; 
                        padding-bottom: 0;                  
                    }
                    &2 {
                        transform: rotate(90deg); 
                        margin-top: 4.5%;
                        transition: 0.2s ease;
                        padding-bottom: 0; 
                    }
                }
                &-line {
                    padding: 0;

                    &1 {
                        &--move {
                            animation: 0.5s line 1;
                            transform: rotate(160deg) translate(-1.1vw, 0.3vw);
                        }
                    }
                    &2 {
                        position: absolute;
                        margin-left: 7.15%;
                        display: none;
                        
                        &--move {
                            animation: 0.5s line2;
                            display: block;
                            transform: rotate(-200deg) translate(5.9vw, 2.2vw);
                        }
                    }
                    &3 {
                        &--move {
                            animation: 0.5s line3;
                            transform: rotate(160deg) translate(-1.1vw, 0.3vw);
                        }
                    }
                    &4 {
                        position: absolute;
                        margin-left: 6.05%;
                        display: none;
                        
                        &--move {
                            animation: 0.5s line4;
                            display: block;
                            transform: rotate(-200deg) translate(4.79vw, 1.85vw);
                        }
                    }
                    &5 {
                        &--move {
                            animation: 0.5s line5;
                            transform: rotate(160deg) translate(-1.1vw, 0.3vw);
                        }
                    }
                    &6 {
                        position: absolute;
                        margin-left: 5.95%;
                        display: none;

                        &--move {
                            animation: 0.5s line6;
                            display: block;
                            transform: rotate(-200deg) translate(4.73vw, 1.9vw);
                        }
                    } 
                    &7 {
                        &--move {
                            animation: 0.5s line5;
                            transform: rotate(160deg) translate(-1.1vw, 0.3vw);
                        }
                    }
                    &8 {
                        position: absolute;
                        margin-left: 5.95%;
                        display: none;

                        &--move {
                            animation: 0.5s line6;
                            display: block;
                            transform: rotate(-200deg) translate(4.7vw, 1.9vw);
                        }
                    }
                }
            }
        }
    }
}