@keyframes linkHover {
    0% { 
        color: #942A2A;
    }
    20% { 
        color: #D28807;
    }
    40% { 
        color: #DBD409;
    }
    60% { 
        color: #0A8A12;
    }
    80% { 
        color: #0D599B;
    }
    100% { 
        color: #960D9B; 
    }
}