@import '../../partials/global';

.project__card-modal {
    position: absolute;
    top:222%;
    width: 105%;
    height: 55vw;
    background: rgba(0,0,0,0.5);
    z-index: 4;

    &-background {
        margin-top: 7%;
        width: 40%;
        height: 35vw;
    }
}