@import '../../partials/global';

a {
    text-decoration: none;
}
.header {

    &__nav {

        &-list {
            list-style-type: none;
            display: flex;
            justify-content: space-evenly;
            padding: 0;
            
            &-item {
                color: black;
                font-size: 2vw;
                transition: 0.5s ease-in-out;
                display: flex;

                &1 {
                    @extend .header__nav-list-item;
                }
                &2 {
                    @extend .header__nav-list-item;
                }
                &3 {
                    @extend .header__nav-list-item;
                }

                &:hover {
                    animation: linkHover 1.2s linear;
                    letter-spacing: 0.2vw;
                }

                &--left {
                    transform: none;

                    &1 {
                        @extend .header__nav-list-item--left;
                    }
                    &2 {
                        @extend .header__nav-list-item--left;
                    }
                    &3 {
                        @extend .header__nav-list-item--left;
                    }
                }

                &--hover {
                    padding: 0 1vw;
                    transition: 0.75s ease;

                    &1 {
                        @extend .header__nav-list-item--hover;
                        transform: rotate(-90deg);
                    }
                    &2 {
                        @extend .header__nav-list-item--hover;
                        transform: rotate(90deg); 
                        margin-top: 2%;
                    }
                }

                &-line {

                    &1 {
                        animation: 1s line infinite;
                    }
                    &2 {
                        position: absolute;
                        margin-left: 7.15%;
                        animation: 1s line2 infinite;
                    }
                    &3 {
                        animation: 1s line3 infinite;
                    }
                    &4 {
                        position: absolute;
                        margin-left: 6.05%;
                        animation: 1s line4 infinite;
                    }
                    &5 {
                        animation: 1s line5 infinite;
                    }
                    &6 {
                        position: absolute;
                        margin-left: 5.95%;
                        animation: 1s line6 infinite;
                    } 
                }
            }
        }
    }
}