@import '../../partials/global';

a {
    text-decoration: none;
}
.header {
    background-color: rgba(0,0,0,0.05);
    margin: 0;
    
    &__nav {
        
        &-list {
            list-style-type: none;
            display: flex;
            justify-content: space-evenly;
            padding: 0;
            
            &-item {
                color: black;
                font-size: 2vw;
                transition: 0.5s ease-in-out;
                display: flex;

                &1 {
                    @extend .header__nav-list-item;
                }
                &2 {
                    @extend .header__nav-list-item;
                }
                &3 {
                    @extend .header__nav-list-item;
                }

                &:hover {
                    animation: linkHover 0.9s linear;
                    letter-spacing: 0.2vw;
                }

                &--left {
                    transform: none;

                    &1 {
                        @extend .header__nav-list-item--left;
                    }
                    &2 {
                        @extend .header__nav-list-item--left;
                    }
                    &3 {
                        @extend .header__nav-list-item--left;
                    }
                }

                &--hover {
                    padding: 0 1vw;
                    transition: 0.75s ease;

                    &1 {
                        @extend .header__nav-list-item--hover;
                        transform: rotate(-90deg);
                    }
                    &2 {
                        @extend .header__nav-list-item--hover;
                        transform: rotate(90deg); 
                        margin-top: 3%;
                    }
                }

                &-line {

                    &1 {
                        &--move {
                            animation: 1s line 1;
                            transform: rotate(160deg) translate(-2.04vw, 0vw);
                        }
                    }
                    &2 {
                        position: absolute;
                        margin-left: 7.15%;
                        display: none;
                        
                        &--move {
                            animation: 1s line2;
                            display: block;
                            transform: rotate(-200deg) translate(5.87vw, 2.4vw);
                        }
                    }
                    &3 {
                        &--move {
                            animation: 1s line3;
                            transform: rotate(160deg) translate(-2.1vw, 0.03vw);
                        }
                    }
                    &4 {
                        position: absolute;
                        margin-left: 6.05%;
                        display: none;
                        
                        &--move {
                            animation: 1s line4;
                            display: block;
                            transform: rotate(-200deg) translate(4.8vw, 2.15vw);
                        }
                    }
                    &5 {
                        &--move {
                            animation: 1s line5;
                            transform: rotate(160deg) translate(-2.08vw, 0vw);
                        }
                    }
                    &6 {
                        position: absolute;
                        margin-left: 5.95%;
                        display: none;

                        &--move {
                            animation: 1s line6;
                            display: block;
                            transform: rotate(-200deg) translate(4.66vw, 2.1vw);
                        }
                    } 
                }
            }
        }
    }
}