@import '../../partials/global';

a {
    text-decoration: none;
}
.header {

    &__nav {

        &-list {
            list-style-type: none;
            display: flex;
            justify-content: space-evenly;
            padding: 0;
            
            &-item {
                color: black;
                font-size: 2vw;
                transition: 0.5s ease-in-out;
                display: flex;

                &:hover {
                    animation: linkHover 1s linear infinite;
                    letter-spacing: 0.2vw;
                }

                &--hover {
                    padding: 0 1vw;
                    transition: 1s ease;

                    &1 {
                        @extend .header__nav-list-item--hover;
                        transform: rotate(-90deg);
                    }
                    &2 {
                        @extend .header__nav-list-item--hover;
                        transform: rotate(90deg); 
                        margin-top: 2%;
                    }
                    &3 {
                        @extend .header__nav-list-item--hover;
                        transform: rotate(-90deg);
                    }
                    &4 {
                        @extend .header__nav-list-item--hover;
                        transform: rotate(90deg); 
                        margin-top: 2%;
                    }
                    &5 {
                        @extend .header__nav-list-item--hover;
                        transform: rotate(-90deg);
                    }
                    &6 {
                        @extend .header__nav-list-item--hover;
                        transform: rotate(90deg);
                        margin-top: 2%;
                    }
                }
                &-line1 {
                    animation: 1.5s line infinite;
                }
                &-line2 {
                    position: absolute;
                    margin-left: 7.15%;
                    animation: 1.5s line2 infinite;
                }
                &-line3 {
                    animation: 1.5s line3 infinite;
                }
                &-line4 {
                    position: absolute;
                    margin-left: 6.05%;
                    animation: 1.5s line4 infinite;
                }
                &-line5 {
                    animation: 1.5s line5 infinite;
                }
                &-line6 {
                    position: absolute;
                    margin-left: 5.95%;
                    animation: 1.5s line6 infinite;
                }
                
            }
        }
    }
}