@import '../../partials/global';

.project__card-popup {
    background: rgba(255, 255, 255, 0.5);
    width: 20vw;
    height: 12.5vw;
    margin: 20% 0 0 2%;
    border-radius: 1vw;

    &-description {
        text-align: left;
        font-size: 1.1vw;
        padding: 0vw 1vw;
        margin: 0;
        overflow: scroll;
        overflow-x: hidden;
        text-overflow: ellipsis;
        height: 7.5vw;

        &-title {
            text-align: center;
            font-size: 1.3vw;
            padding: 0.5vw;
            margin: 0;
            font-weight: bold;
        }
        &-logo {
            width: 8%;
            margin: 1% 0.5%;
        }
    }
}