@keyframes linkHover {
    0% { 
        color: #942A2A;
    }
    20% { 
        color: #D28807;
    }
    40% { 
        color: #DBD409;
    }
    60% { 
        color: #0A8A12;
    }
    80% { 
        color: #0D599B;
    }
    100% { 
        color: #960D9B; 
    }
}

@keyframes pulse {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0.6;
    }
    100% {
        opacity: 1;
    }
}

@keyframes line {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(160deg) translate(-1.1vw, 0.4vw);
    }
}

@keyframes line2 {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(-200deg) translate(5.85vw, 2.3vw);
    }
}

@keyframes line3 {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(160deg) translate(-1.1vw, 0.4vw);
    }
}

@keyframes line4 {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(-200deg) translate(4.78vw, 1.85vw);
    }
}

@keyframes line5 {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(160deg) translate(-1.1vw, 0.3vw);
    }
}

@keyframes line6 {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(-200deg) translate(4.72vw, 1.85vw);
    }
}
@keyframes line7a {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(250deg) translate(-0.6vw, 1.6vw);
    }
}
@keyframes line8a {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(-110deg) translate(2.3vw, -6.1vw);
    }
}
@keyframes line7 {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(250deg) translate(-0.6vw, 1.6vw);
    }
}
@keyframes line8 {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(-110deg) translate(2.3vw, -6.1vw);
    }
}
@keyframes line9 {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(250deg) translate(-0.6vw, 1.6vw);
    }
}
@keyframes line10 {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(-110deg)translate(1.95vw, -5.1vw);
    }
}
@keyframes line11 {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(250deg) translate(-0.6vw, 1.6vw);
    }
}
@keyframes line12 {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(-110deg) translate(1.9vw, -5vw);
    }
}