@import '../../partials/global';

.projects {
    background-image: url('../../assets/images/clouds.png');
    background-repeat: repeat-x;
    background-size: 100%;
    height: 40vw;
    width: 100%;

    &__heading {
        position: absolute;
        margin-top: -5.3%;
        display: flex;
        justify-content: space-around;
        width: 100%;
        height: 5.5vw;
        align-items: center;

        &-circle {
            border-radius: 50%;
            width: 4vw;
            height: 4vw;
            background-color: rgba(255, 255, 255, 0.7);
            font-size: 4vw;

            &:hover {
                cursor: pointer;
                color: rgba(0, 0, 0, 0.6);
            }
        }
        &-arrow {
            line-height: 4.5vw;
        }
    }
    &__title {
        font-size: 3vw;
        margin: 0; 
        width: 100%;
        height: 5vw;
        background: rgba(255, 255, 255, 0.4);
    }

    &__container {
        overflow-x: auto;
        overflow: hidden;
        height: 35vw;
        scrollbar-width: none;

        &::-webkit-scrollbar {
            // display: none;
        }
    }
    &__line {
        height: 15vw;
        width: 100vw;
        z-index: 2;

        &-container {
            display: flex;
            width: 200%;
        }
    }
    &__image {
        position: absolute;
        width: 16.9vw;
        height: 11.2vw;
        margin-left: -17.6%;
        top: 9.6%;

        &3 {
            display: none;

            &--show {
                display: block;
            }
        }
        &2 {
            display: none;

            &--show {
                display: block;
            }
        }

        &-container {
            position: relative;
            margin: -3.8% -5%;
            display: flex;
            width: 100%;
            z-index: 0;
        }
    }
    &__text {
        position: absolute;
        font-family: 'Handletters';
        margin-left: 7%;
        margin-top: -3.75%;
        font-size: 2.5vw;
        letter-spacing: 0.1vw;
        width: 10vw;
        z-index: 2;
        text-align: right;
        font-weight: bold;

        &-two {
            line-height: 1.5vw;
            margin-top: -4%;
        }
    }
    &__border {
        width: 22vw;
            height: 21vw;
            margin-left: -20%;
            margin-top: -1.75%;
            position: absolute;
            z-index: 2;
            filter: brightness(0) opacity(0.8);

        &-stars {
            width: 22vw;
            height: 21vw;
            margin-left: -20%;
            margin-top: -1.75%;
            position: absolute;
            z-index: 2;
            filter: brightness(0);
            animation: pulse 2s infinite;
        }
    }
}