@import '../../partials/global';

.projects {
    background-image: url('../../assets/images/clouds.png');
    background-repeat: repeat-x;
    background-size: 100%;
    height: 40vw;
    width: 100%;
    overflow: scroll;

    &__title {
        font-size: 3vw;
        margin: 0; 
    }
    &__container {
        overflow: scroll;
        height: 50vw;
    }
    &__line {
        height: 15vw;
        width: 100%;
        z-index: 3;

        &-container {
            display: flex;
            width: 200%;
        }
    }
    &__image {
        position: absolute;
        width: 16vw;
        height: 11.2vw;

        &-container {
            position: relative;
            margin: -4.6%;
            display: flex;
            width: 100%;
            z-index: 0;
        }
    }
}