@import '../../partials/global';

.hero {
    background-image: url('../../assets/images/photo-1517833969405-d4a24c2c82802.png');
    background-size: 100%;
    background-position: bottom;
    background-repeat: no-repeat;
    width: 100%;
    height: 35vw;
    
    &__box {
        font-size: 4vw;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 5% 8%;
        position: absolute;
        width: 84%;
        height: 25vw;
        background: rgba(255, 255, 255, 0.2);
    }

    &__name {
        font-family: 'Atalla';
        color: white;
        font-size: 10vw;
        margin: -3% 0 0 20%;
    }
    &__text {
        margin: 10% 0 0 20%;
        position: absolute;
        font-family: 'Arnie';
        color: white;
        opacity: 0.7;
    }
    &__polaroid {
        transform: rotate(-10deg);
        width: 17%;
        height: 21vw;
        position: absolute;
        left: 10%;
        z-index: 1;
    }
    &__profile {
        position: absolute;
        left: 12%;
        margin-top: 2%;
        width: 12.5%;
        transform: rotate(-10deg);
    }
}