@font-face {
    font-family: 'Arnie';
    src: url('../assets/fonts/Arnie.otf') format('OpenType');
}
@font-face {
    font-family: 'Atalla';
    src: url('../assets/fonts/Atalla.ttf') format('TrueType');
}
@font-face {
    font-family: 'Bedontes';
    src: url('../assets/fonts/Bedontes.ttf') format('TrueType');
}
@font-face {
    font-family: 'Handletters';
    src: url('../assets/fonts/Handletters.ttf') format('TrueType');
}
@font-face {
    font-family: 'OliverBlushFree';
    src: url('../assets/fonts/Oliver Blush Free.ttf') format('TrueType');
}