@import '../../partials/global';

.project__card-popup {
    background: rgba(255, 255, 255, 0.5);
    width: 20vw;
    height: 12vw;
    margin: 20% 0 0 2%;
    border-radius: 1vw;

    &-description {
        text-align: left;
        font-size: 1.2vw;
        padding: 0vw 1vw;
        margin: 0;

        &-title {
            text-align: center;
            font-size: 1.5vw;
            padding: 0.5vw;
            margin: 0;
        }
    }
}